<div class="register-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Crie sua conta</mat-card-title>
      <mat-card-subtitle
        >Preencha os campos abaixo para se registrar</mat-card-subtitle
      >
    </mat-card-header>

    <mat-card-content>
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <!-- Campo de Nome -->
        <mat-form-field appearance="outline">
          <mat-label>Nome</mat-label>
          <input matInput type="text" formControlName="name" />
          <mat-error *ngIf="registerForm.get('name')?.invalid">
            O nome é obrigatório.
          </mat-error>
        </mat-form-field>

        <!-- Campo de Email -->
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput type="email" formControlName="email" />
          <mat-error *ngIf="registerForm.get('email')?.invalid">
            Digite um email válido.
          </mat-error>
        </mat-form-field>

        <!-- Campo de Senha -->
        <mat-form-field appearance="outline">
          <mat-label>Senha</mat-label>
          <input matInput type="password" formControlName="password" />
          <mat-error *ngIf="registerForm.get('password')?.invalid">
            A senha deve ter pelo menos 6 caracteres.
          </mat-error>
        </mat-form-field>

        <!-- Botão de Registro -->
        <button
          mat-raised-button
          color="primary"
          [disabled]="registerForm.invalid"
        >
          Registrar
        </button>
      </form>
    </mat-card-content>

    <mat-card-actions>
      <p>Já tem uma conta? <a routerLink="/login">Faça login</a></p>
    </mat-card-actions>
  </mat-card>
</div>
