<div class="page page-center">
  <div class="container container-tight py-4">
    <div class="text-center mb-4">
      <a href="." class="navbar-brand navbar-brand-autodark">
        <img src="assets/img/angular.svg" alt="logo" class="navbar-brand-image">
      </a>
    </div>
    <form class="card card-md" [formGroup]="myForm" (ngSubmit)="onSubmit()">
      <div class="card-body">
        <h2 class="card-title text-center mb-4">Criar nova conta</h2>
        <div class="mb-3">
          <label class="form-label">Nome</label>
          <input formControlName="name" type="text" class="form-control" placeholder="Digite seu nome" required>
          <div class="invalid-feedback" *ngIf="myForm.get('name')?.invalid && myForm.get('name')?.touched">
            Nome é obrigatório
          </div>
        </div>
        <div class="mb-3">
          <label class="form-label">Email</label>
          <input formControlName="email" type="email" class="form-control" placeholder="Digite o e-mail" required
                 pattern="^[a-zA-Z0-9.!#$%&amp;'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\\.[a-zA-Z0-9-]+)*$">
          <div class="invalid-feedback" *ngIf="myForm.get('email')?.invalid && myForm.get('email')?.touched">
            Email é obrigatório e deve ser válido
          </div>
        </div>
        <div class="mb-3">
          <label class="form-label">Senha</label>
          <input formControlName="password" type="password" class="form-control" placeholder="Senha"
                 autocomplete="off" required>
          <div class="invalid-feedback" *ngIf="myForm.get('password')?.invalid && myForm.get('password')?.touched">
            Senha é obrigatória
          </div>
        </div>
        <div class="mb-3">
          <label class="form-label">Confirme sua senha</label>
          <input formControlName="passwordConfirm" type="password" class="form-control" placeholder="Confirme a senha"
                 autocomplete="off" required>
          <div class="invalid-feedback" *ngIf="myForm.get('passwordConfirm')?.invalid && myForm.get('passwordConfirm')?.touched">
            As senhas não conferem
          </div>
        </div>
        <div class="hr-text">
          Informações adicionais
        </div>
        <div class="mb-3 row">
          <div class="col">
            <label class="form-label">Sexo</label>
            <select formControlName="sexo" class="form-select">
              <option value="masculino">Masculino</option>
              <option value="feminino">Feminino</option>
              <option value="outro">Outro</option>
            </select>
          </div>
          <div class="col">
            <label class="form-label">Data de nascimento</label>
            <input formControlName="dataNascimento" type="date" class="form-control">
          </div>
        </div>
        <div class="mb-3">
          <label class="form-check">
            <input type="checkbox" class="form-check-input" formControlName="termos" required>
            <span class="form-check-label">Concordo com os <a href="https://policies.google.com/privacy"
                                                              tabindex="-1">termos e política</a>.</span>
            <div class="invalid-feedback" *ngIf="myForm.get('termos')?.invalid && myForm.get('termos')?.touched">
              Você deve concordar
            </div>
          </label>
        </div>
        <div class="form-footer">
          <button type="submit" class="btn btn-primary w-100" [disabled]="!myForm.valid">Criar nova conta</button>
        </div>
      </div>
    </form>
    <div class="text-center text-secondary mt-3">
      Já tem conta? <a [routerLink]="['../signin']" tabindex="-1">Entrar</a>
    </div>
  </div>
</div>

