<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-lg-5 col-md-7">
      <div class="card shadow-sm">
        <div class="card-header bg-primary text-white">
          <h4 class="card-title text-center">User Authentication</h4>
        </div>
        <div class="card-body">
          <!-- Certifique-se de que o router-outlet esteja configurado corretamente -->
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>
