body {
  padding: 50px;
  font-family: 'Lucida Grande', Helvetica, Arial, sans-serif;
  font-size: 14px;
}

a {
  color: #00B7FF;
  cursor: pointer;
  text-decoration: none;
}

a:hover,
a:active {
  color: #0088CC;
  text-decoration: underline;
}

a.danger {
  color: #FF0000;
}

.spacing {
  margin-bottom: 20px;
}

input.ng-invalid.ng-touched {
  border: 2px solid #FF0000;
}

label.error {
  color: #FF0000;
}

